---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import SeccionDolor from "../components/SeccionDolor.astro";
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <SeccionDolor />
  </main>
</BaseLayout>
